/* Variables */
$primary-color: #1C531D;
$secondary-color: #238AB6;
$font-family: 'opensans', sans-serif;
$text-color: #fff;

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $primary-color;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} 

header {
    display: flex;
    width: auto;
    justify-content: space-between;
    padding: 2rem;
}

h1, h2, h3, h4, h5, h6, p, label, select {
  font-family: $font-family;
  font-weight: 400;
  color: $text-color;
}

h1,p {
  color: $text-color;
  line-height: 1.5;
  margin: 0
}

h1 {
  font-size: 2.3rem;
}

p {
  font-size: 20px;
  letter-spacing: .6px;
}

.buttonstyle {
    background-color: #238AB6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    max-width: 200px;

  &:hover {
    opacity: 0.9;
  }

}

.game-board {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: .8rem;
  padding: 0 20px;
  margin: 10px auto;
  justify-content: center;
}   

.backcard {
    aspect-ratio: 3/4;
    cursor: pointer;
    transition: transform 0.5s ease;

  &:hover {
    transform: scale(1.05);
  }

   &.visible {
        // Maybe add a border or glow when flipped
        border: 2px solid $secondary-color;
    }
    
    &.matched {
        // Dim matched cards
        opacity: 0.6;
        pointer-events: none;  // Can't click matched cards
    }

}
.game-over {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

hr {
  border: none;
  height: 2px;
  background-color: white;
  margin: 0;
}

.game-container {
  padding: 1.8rem;
  flex: 1;
}

footer {
  background-color: #0b3d2e;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  margin-top: auto;
  font-size:14px;

}

@media (max-width: 1000px) {
  .game-board {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  .game-board {
    grid-template-columns: repeat(2, 1fr);
  }
}